<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UsersPage</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<h1>Users</h1>
<table>
    <thead>
    <tr>
        <td class="td_header">Username</td>
        <td class="td_header">Password</td>
        <td class="td_header">Enabled</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.username}"/>
        <td th:text="${user.password}"/>
        <td th:text="${user.enabled}"/>
    </tr>
    </tbody>
</table>
</body>
</html>